.tabbar-wrapper {
    height: 100%;
    width: 50px;

    background-color: #222222;
    z-index: 100;
}

.tab-btn-wrapper {
}

.tab-btn {
    font-size: 1em;
    width: 100%;
    aspect-ratio: 1 / 1;    

    color: #bdbdbd;
    background-color: #222222;
    transition: border-color 0.25s;
    border: 1px solid transparent;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &[data-selected="true"] {
        color: #ffffff;
        background-color: #1f1f1f;
        border-left-color: #ffffff;
        border-left-width: 2px;
        border-left-style: solid;
    }
}